.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  opacity: 1;
  animation: fade 5s linear;
}

@keyframes fade {
  0%,100% {opacity: 0;}
  50% {opacity: 1;}
}

a,p {
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
